<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Receta de Pastel de Papa</h1>
    <img src="c:/Users/Marce/Desktop/TAREA2/public/img/pastelpapa.jpg" alt="" width="500" height="250">
    <h3>descripción de receta</h3>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>Carne</li>
        <li>Cebolla</li>
        <li>Papas</li>
        <li>Queso</li>
        <li>Especias</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
    <li>uno</li>
    <li>dos</li>
    <li>tres</li>
    <li>cuatro</li>
    <li>cinco</li>
    </ol>
    <iframe src="c:/Users/Marce/Desktop/TAREA2/public/views/pastelpapas.mp4" frameborder="0">width="500" height="250"</iframe>
    <p><a href="https://almacen.paulinacocina.net/?gad_source=1&gclid=EAIaIQobChMIh_Ofg4vQiAMVGgatBh3TNAZ7EAAYASAAEgJfo_D_BwE">Leer esta receta en Paulina Cacina</a></p>
    <p><a href="receta2.html">Leer receta de Peras al Malbec</a></p>
    <p><a href="c:/Users/Marce/Desktop/TAREA2/index.html">Volver al inicio</a></p>
</body>
</html>