<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Receta de Peras al Malbec</h1>
    <img src="c:/Users/Marce/Desktop/TAREA2/public/img/perasmalbec.jpeg" alt="" width="500" height="250">
    <h3>descripción de receta</h3>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>Peras</li>
        <li>Vino Tinto Malbec</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
    <li>uno</li>
    <li>dos</li>
    <li>tres</li>
    <li>cuatro</li>
    <li>cinco</li>
    </ol>
    <iframe src="c:/Users/Marce/Desktop/TAREA2/public/views/perasmalbec.mp4" frameborder="0">width="500" height="250"</iframe>
    <p><a href="https://almacen.paulinacocina.net/?gad_source=1&gclid=EAIaIQobChMIh_Ofg4vQiAMVGgatBh3TNAZ7EAAYASAAEgJfo_D_BwE">Leer esta receta en Paulina Cacina</a></p>
    <p><a href="receta1.html">Leer receta de Pastel de Papas</a></p>
    <p><a href="c:/Users/Marce/Desktop/TAREA2/index.html">Volver al inicio</a></p>
</body>
</html>